{% extends "base.html" %}

{% load static %}

{% block header %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/xterm.css" %}" rel="stylesheet">
    <script href="{% static "js/xterm.js" %}"></script>

    <style>
        .sticky-table-header {
            position:sticky;
            top: 0 ;
        }

        .container {
            margin-left: 0;
        }

        #description {
            /** margin-left: 0; **/
            height: 92vh;
            overflow: auto;
        }

        #terminal-console {
            height: 88vh;
            background-color: rgb(90, 90, 90);
        }

        .material-symbols-outlined {
            font-size: 40px;
        }
</style>
{% endblock %}

{% block nav_content %}
    <hr>
    <div>
        {% if all_modules %}
        <label for="changeModuleSelect" class="form-label text-dark"><b>Current Module</b></label>
        <select id="changeModuleSelect" name="module" class="form-select">
            {% for module_item in all_modules %}
                {% if request_path == module_item.module_url_title %}
                    <option selected value="{% url 'workspace:overview' module_item.module_url_title 0 %}">{{ module_item.title }}</option> 
                {% else %}
                    <option value="{% url 'workspace:overview' module_item.module_url_title 0 %}">{{ module_item.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p class="mt-1 text-dark">{{ module_details.description }}</p>
        {% else %}
            <p>No modules found</p>
        {% endif %}
    </div>
    <hr>
    {% if lab_tasks %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="sticky-table-header text-center text-dark">Task Name</th>
                    <th scope="col" class="sticky-table-header text-center text-dark">Status</th>
                </tr>
            </thead>
            <tbody id="task-list-items">
            {% for task in lab_tasks %}
                <tr onclick="window.location.pathname = {% url 'workspace:overview' module_details.module_url_title task.id %}">
                    <td class="text-center">{{ task.task_name }}</td>
                    <td class="text-center">{{ task.task_status_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No tasks found for module</p>
    {% endif %}

{% endblock %}

{% block content %}

<div class="container container-xl container-xxl min-vw-100">
    {% if task_info %}
    <div class="row align-self-start mt-2 gx-2">
        <div class="col-5 col-xxl-5" id="description">
            <h4 class="text-dark">{{ task_info.task_name }}</h4>
            <div>{{ task_info.task_details }}</div>
        </div>
    {% else %}
        <p>No Task is selected</p>
    {% endif %}
        <div class="col-7 col-xxl-7 mw-75" id="terminal">
            <ul id="terminal-tabs" class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-content" type="button" role="tab" aria-controls="tab-1-content" aria-selected="true">Tab 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-content" type="button" role="tab" aria-controls="tab-2-content" aria-selected="false">Tab 2</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-content" type="button" role="tab" aria-controls="tab-3-content" aria-selected="false">Tab 3</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-content" type="button" role="tab" aria-controls="tab-4-content" aria-selected="false">Tab 4</button>
                </li>
              </ul>
              <div id="terminal-console" class="mh-100">
                    <div class="tab-content" id="containerTabContent">
                        <iframe class="tab-pane show active mw-100 mh-100" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1" tabindex="0" src="http://localhost:8080"></iframe>
                        <iframe class="tab-pane" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2" tabindex="0" src="http://localhost:8082"></iframe>
                        <iframe class="tab-pane" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3" tabindex="0" src=""></iframe>
                        <iframe class="tab-pane" id="tab-4-content" role="tabpanel" aria-labelledby="tab-4" tabindex="0" src=""></iframe>
                    </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}
 



{% block footer %}
<script src="{% static "js/darkmode.js" %}"></script>
<script src="{% static "js/tasks.js" %}"></script>
{% endblock %}