{% extends "base.html" %}

{% load static %}

{% block header %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/xterm.css" %}" rel="stylesheet">
    <script href="{% static "js/xterm.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container container-xl container-xxl" id="settings">
    <div class="position-absolute top-50 start-50 translate-middle class">
        <h2 class="text-center">Settings</h2>
        <hr />
        <div class="card" style="height: 88vh; width: 88vw">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="sticky-table-header text-center text-dark w-50">Setting Name</th>
                                <th></th>
                                <th scope="col" class="sticky-table-header text-center text-dark w-50">Currently Set Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-dark text-center">
                                    <span class="text-dark">Font Type</span>
                                </td>
                                <td><div class="vr"></div></td>
                                <td class="text-dark">
                                    <div class="d-flex justify-content-center">
                                        <select id="changeModuleSelect" name="module" class="form-select w-50">
                                            <option value="volvo">Helvetica</option>
                                            <option value="saab">Times New Roman</option>
                                            <option selected value="mercedes">Dyslexia</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-dark text-center">
                                    <span class="text-dark">Dark Mode</span>
                                </td>
                                <td><div class="vr"></div></td>
                                <td class="text-dark">
                                    <div class="form-check form-switch d-flex justify-content-center">
                                        <input class="form-check-input fs-4" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</div>


{% endblock %}
 



{% block footer %}


{% endblock %}