/* :root {
  --text: #000;
  --bg: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(194, 194, 194);
    --bg: #000;
  }

  .mdc-card__media {
   color: rgb(0,0,0);
  }
} */
