{% extends "base.html" %}

{% load static %}

{% block header %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/xterm.css" %}" rel="stylesheet">
    <script href="{% static "js/xterm.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container container-xl container-xxl min-vw-100" id="module-overview">
    <div class="row d-flex mr-2 gx-2">
        <div class="col-4 col-xxl-4 border-end" id="module-status-pane">
            <h3 class=>Status of All Modules</h3>
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Thing 1</b></h5>
                            <span>Current Module Status: 7 of 21 tasks completed</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-body">
                            <h5 class="card-title"><b>Thing 1</b></h5>
                            <span>Current Module Status: 7 of 21 tasks completed</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                <div class="progress-bar bg-danger" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 col-xxl-8 ml-2"  id="module-description-pane">
            <h3>Module Information</h3>
            <div class="card" >
                <div class="card-body">
                    <h4><b><a href="{% url 'workspace:overview' 'thing1' %}">Thing 1</a></b></h4>
                    <span><u>Description</u></span>
                    <div id="module-description">
                        Often, the set of domains you want to restrict to is the same as the Django ALLOWED_HOSTS setting, which performs a similar security check for the Host header, and so AllowedHostsOriginValidator lets you use this setting without having to re-declare the list:
                        Often, the set of domains you want to restrict to is the same as the Django ALLOWED_HOSTS setting, which performs a similar security check for the Host header, and so AllowedHostsOriginValidator lets you use this setting without having to re-declare the list:
                        Often, the set of domains you want to restrict to is the same as the Django ALLOWED_HOSTS setting, which performs a similar security check for the Host header, and so AllowedHostsOriginValidator lets you use this setting without having to re-declare the list:
                    </div>
                    <hr />
                    <ul class="list-group" id="module-description-table">
                        <li class="list-group-item active" aria-current="true">An active item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
 



{% block footer %}


{% endblock %}